@page "/forum"
@inject IAuthorizationService AuthorizationService
@inherits ForumPageModel
@inject HttpClient Http

<AuthorizeView Context="AuthorizeContext">
    <NotAuthorized>
        <div class="alert alert-success">
            <a href="/account/login">Войдите</a> чтобы присоединиться к чату.
        </div>
    </NotAuthorized>
</AuthorizeView>

<h1>Чат пользователей</h1>

<AuthorizeView Context="AuthorizeContext">
    <Authorized>
        <ForumMessageCreateForm Send="Send" />
        <MatList SingleSelection="true" TwoLine="true">
            @if (Messages == null || Messages.Count == 0)
            {
                <MatListItem>
                    <MatListItemText>
                        Загрузка сообщений...
                    </MatListItemText>
                </MatListItem>
            }
            else
            {
                @foreach (var message in Messages)
                {
                    <ForumMessage Delete="Delete" Message="@message"  />
                }
            }
        </MatList>
    </Authorized>
</AuthorizeView>
