@page "/forum"
@inject IAuthorizationService AuthorizationService
@inherits ForumPageModel
@inject HttpClient Http

<MainContainer Style="box-shadow: 1px 1px 0 500px rgba(0, 0, 0, 0.5) inset;"
               Title="Worklab"
               ContentTitle="Добро пожаловать в чат!">
    <AuthorizeView Context="AuthorizeContext">
        <NotAuthorized>
            <div class="alert alert-success">
                <a href="/account/login">Войдите</a> чтобы присоединиться к чату.
            </div>
        </NotAuthorized>
    </AuthorizeView>
    <AuthorizeView Context="AuthorizeContext">
        <Authorized>
            <div class="comments-container">
                <div class="comments-list">

                    @if (Messages == null || Messages.Count == 0)
                    {
                        <MatListItemText>
                            Загрузка сообщений...
                        </MatListItemText>
                    }
                    else
                    {
                        @foreach (var message in Messages.OrderBy(x => x.When))
                        {
                            <div class="comment-main-level">
                                <ForumMessage Delete="Delete" Message="@message" />
                            </div>
                        }
                    }
                </div>
            </div>
            <ForumMessageCreateForm Send="Send" />
        </Authorized>
    </AuthorizeView>
</MainContainer>
