@page "/forum"
@inject IAuthorizationService AuthorizationService
@inherits ForumPageModel
@inject HttpClient Http

<MainContainer Style="box-shadow: 1px 1px 0 500px rgba(0, 0, 0, 0.5) inset;"
               Title="Worklab"
               ContentTitle="Добро пожаловать в чат!">
    <AuthorizeView Context="AuthorizeContext">
        <NotAuthorized>
            <div class="alert alert-success">
                <a href="/account/login">Войдите</a> чтобы присоединиться к чату.
            </div>
        </NotAuthorized>
    </AuthorizeView>
    <AuthorizeView Context="AuthorizeContext">
        <Authorized>
            <ForumMessageCreateForm Send="Send" />
            <MatList SingleSelection="true" TwoLine="true">
                @if (Messages == null || Messages.Count == 0)
                {
                    <MatListItem>
                        <MatListItemText>
                            Загрузка сообщений...
                        </MatListItemText>
                    </MatListItem>
                }
                else
                {
                    @foreach (var message in Messages)
                    {
                        <ForumMessage Delete="Delete" Message="@message" />
                    }
                }
            </MatList>
        </Authorized>
    </AuthorizeView>
</MainContainer>
