<div>
  <h1>
    <img style="width:100px; vertical-align: middle;" src="_content/BlazorBoilerplate.CommonUI/images/logo-work.png" alt="YLSP Team"/> Worklab
  </h1>
  <h3>Здравствуйте, {name}.</h3>
  <p>
    Мы получили ваш запрос на смену пароля, перейдите по этой <a href="{callbackUrl}">ссылке</a>, чтобы поменять пароль.
  </p>
  <br/>
  <p>С наилучшими пожеланиями,</p>
	<br/>
	<p>YLSP team</p>
 </div>