<div>
  <h1>
    <img style="width:100px; vertical-align: middle;" src="_content/BlazorBoilerplate.CommonUI/images/logo-work.png" alt="YLSP Team приветствует вас!"/> Worklab
  </h1>
  <p>Здравствуйте, {userName}.</p>
  <p>
    Пожалуйста, перейдите по: <a href='{callbackUrl}'>ссылке.</a>
  </p>
  <p>Благодарим вас и добро пожаловать на симулятор!</p>
</div>