<div>
  <h1>
    <img style="width:100px; vertical-align: middle;" src="_content/BlazorBoilerplate.CommonUI/images/logo-work.png" alt="YLSP Team"/> Worklab
  </h1>
  <p>Здравствуйте, {name}!</p>
  <p>
    Зарегистрирован новый пользователь.
  </p>
  <p>
    Сделано {creator}<br/>
    Компания: {company}<br/>
    Роль: {roles}<br/>
    Имя: {name}<br/>
    Логин: {userName}<br/>>
    Почта: {email}<br/>
  </p>
  <p>
    <br />
  </p>
  <p>С наилучшими пожеланиями,</p>
  <p>YLSP Team</p>
</div>