<div>
  <h1>
    <img style="width:100px; vertical-align: middle;" src="_content/BlazorBoilerplate.CommonUI/images/logo-work.png" alt="YLSP Team"/> Worklab
  </h1>
  <h3>Здравствуйте, {userName}!</h3>
  <p>Ваш пароль был успешно изменён.</p>
  <br/>
  <div>
    Удачи!
  </div>
</div>