<div>
  <h1>
    <img style="width:100px; vertical-align: middle;" src="_content/BlazorBoilerplate.CommonUI/images/logo-work.png" alt="YLSP Team"/> Worklab
  </h1>
  <p>Здравствуйте, {user}!</p>
  <p>
    Это <strong>ТЕСТОВОЕ</strong> письмо
  </p>
  <p>Письмо отправлено {testDate}.</p>
  <p>
    <br />
  </p>
  <p>С наилучшими пожеланиями,</p>
  <p>YLSP Team</p>
</div>