@using Microsoft.AspNetCore.Components
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authStateProvider

<a href="@navigationManager.ToAbsoluteUri("help").AbsoluteUri" class="menu__link">Помощь</a>
<a href="@navigationManager.ToAbsoluteUri("account/profile").AbsoluteUri" class="menu__link">Личный кабинет</a>
<MatButton OnClick="LogoutClick"
           Style="background-color: #4F94C1; color: snow; border-radius: 5px">
    Выйти
</MatButton>

@code {

async Task LogoutClick()
{
await ((IdentityAuthenticationStateProvider)authStateProvider).Logout();
navigationManager.NavigateTo("/account/login");
}
}
