@using Microsoft.AspNetCore.Components
@using BlazorBoilerplate.Shared.Dto.Account
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authStateProvider



<SubMenu Title="@username">
    <MenuItem>
        <MenuLink Href="/account/profile">
            Личный кабинет
        </MenuLink>
    </MenuItem>
    <MatDivider />
    <MenuItem>
        <MenuLink Href="/help">
            Помощь
        </MenuLink>
    </MenuItem>
    <MatDivider />
    <MenuItem>
        <Button OnClick="LogoutClick"
                Style="background-color: #4F94C1; color: snow;">
            Выйти
        </Button>
    </MenuItem>
</SubMenu>


@code {UserInfoDto userInfo = null;
    string username = null;

    async Task LogoutClick()
    {
        await ((IdentityAuthenticationStateProvider)authStateProvider).Logout();
        navigationManager.NavigateTo("/account/login");
    }

    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var user = (await authenticationStateTask).User;
        userInfo = null;

        if (user.Identity.IsAuthenticated)
        {
            userInfo = await ((IdentityAuthenticationStateProvider)authStateProvider).GetUserInfo();
        }

        username = userInfo.UserName;
    }
}
