@using Microsoft.AspNetCore.Components
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authStateProvider

<SubMenu Title="@subTitle">
    <MenuItem>
        <MenuLink Href="@navigationManager.ToAbsoluteUri("account/profile").AbsoluteUri">
            Личный кабинет
        </MenuLink>
    </MenuItem>
    <MatDivider />
    <MenuItem>
        <MenuLink Href="@navigationManager.ToAbsoluteUri("help").AbsoluteUri">
            Помощь
        </MenuLink>
    </MenuItem>
    <MatDivider />
    <MenuItem>
        <Button OnClick="LogoutClick"
                Style="background-color: #4F94C1; color: snow; border-radius: 5px">
            Выйти
        </Button>
    </MenuItem>
</SubMenu>


@code {
    RenderFragment subTitle =
        @<span>
            <span>Кабинет</span>
            <Icon Type="down" Theme="outline" Style="font-size: 10px; vertical-align: middle;"></Icon>
        </span>;

    async Task LogoutClick()
    {
        await ((IdentityAuthenticationStateProvider)authStateProvider).Logout();
        navigationManager.NavigateTo("/account/login");
    }
}
