@page "/about-us"

<MainContainer Style="box-shadow: 1px 1px 0 500px rgba(0, 0, 0, 0.5) inset;"
               Title="Young Leaders for Social Progress"
               SubTitle="Общественная платформа"
               ContentTitle="Что такое Worklab">
    <h5 style="color: #525252;justify-content: center; text-align: center; font-family: cursive; text-wrap: normal">
        Это масштабный долгосрочный социальный проект, направленный на создание сайта-симулятора по профориентации для мололежи, а также на достижение Целей устойчивого развития (ЦУР-4 - Качественное образование)
    </h5>
    <MatDivider/>
    <div class="grid-item col-sm-12 col-sm-12 col-md-8">
        <h3 style="justify-content: center; text-align: center; font-family: cursive;">Цель проекта</h3>
        <h5 style="color: #525252; justify-content: center; text-align: center; font-family: cursive; text-wrap: normal">
            Помочь молодежи <b>ВОВРЕМЯ</b> определиться со своей профессией!
        </h5>
        <h3 style="justify-content: center; text-align: center; font-family: cursive;">Worklab работает со всеми направлениями, включая</h3>
    </div>
</MainContainer>
@code {

}
