@page "/dashboard"
@attribute [Authorize(Roles = "Administrator, Coordinator")]
@inject AppState appState

<MainContainer Style="box-shadow: 1px 1px 0 500px rgba(0, 0, 0, 0.5) inset;"
               Title="Worklab"
               ContentTitle="Статистика">
    <h2>Счетчик</h2>
    <p>
        Подсчитано: <strong>@currentCount</strong>
        <br />
        Общее число: <strong>@if (@profileCurrentCount != -1)@profileCurrentCount</strong>
    </p>
    <MatFAB icon="exposure_plus_1" @onclick="@IncrementCount"></MatFAB>
</MainContainer>


@code { int currentCount = 0;
    int profileCurrentCount = -1;

    protected override async Task OnInitializedAsync()
    {
        profileCurrentCount = await appState.GetUserProfileCount();
    }

    public async Task IncrementCount()
    {
        currentCount++;
        profileCurrentCount++;
        await appState.UpdateUserProfileCount(profileCurrentCount);
    }
}
