@page "/dashboard"
@attribute [Authorize(Roles = "Administrator, Coordinator")]
@inject AppState appState

<h1>Статистика</h1>

<hr />
<h2>Счетчик</h2>

<MatFAB icon="exposure_plus_1" @onclick="@IncrementCount"></MatFAB>

<p>
    Подсчитано: <strong>@currentCount</strong>
    <br />
    Общее число: <strong>@if (@profileCurrentCount != -1)@profileCurrentCount</strong>
</p>
<MatDivider></MatDivider>

@code { int currentCount = 0;
    int profileCurrentCount = -1;

    protected override async Task OnInitializedAsync()
    {
        profileCurrentCount = await appState.GetUserProfileCount();
    }

    public async Task IncrementCount()
    {
        currentCount++;
        profileCurrentCount++;
        await appState.UpdateUserProfileCount(profileCurrentCount);
    }
 }
