@page "/programs"
<h3>Programs</h3>

@code {
    //для начала предлагается пройти тест по профориентации. 
    //Если да - тест, после рекомендация по программам и список программ
    //Иначе просто список
    //При клике на программу идет переход на страницу с программой.
}
